{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
		    <div class="col-2">
            </div>
            <div class="col-8">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
					<div class="alert alert-warning" role="alert">
						{% for message in messages %}
							{{ message }}<br>
						{% endfor %}
					</div>
					{% endif %}
				{% endwith %}
				<br>
				<b>ПРАКТИЧЕСКОЕ ПРИМЕНЕНИЕ OBJECT DETECTION</b>
				<br>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
{% endblock %}